.site-on-device {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: content-box;
  margin: auto;
  position: relative;
  text-align: center;
  border-radius: 2em;
}

.iframe-wrapper {
  border: 2px solid #000;
  overflow: hidden;
}

.iframe {
  height: 100%;
  width: 100%;
}

/* styles for devices */

.site-on-device_phone {
  border: 2px solid #000;
  padding: 4em 1.5em 10em;
}

.site-on-device_phone::before, .site-on-device_phone::after, .site-on-device_tablet::before, .site-on-device_tablet::after {
  content: '';
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.site-on-device_phone::before {
  height: 1em;
  top: 2em;
  width: 1em;
}

.site-on-device_phone::after {
  bottom: 0em;
  height: 5em;
  width: 5em;
}

.site-on-device_phone .iframe-wrapper {
  height: 480px;
  width: 340px;
}

.site-on-device_tablet {
  border: 2px solid #000;
  font-size: 0.8rem;
  padding: 2.5em 11.4em 2.6em 2.5em;
}

.site-on-device_tablet::before {
  height: 1em;
  left: 1.3em;
  top: 50%;
  width: 1em;
}

.site-on-device_tablet::after {
  right: 0em;
  top: 50%;
  height: 6em;
  width: 6em;
}

.site-on-device_tablet .iframe-wrapper {
  height: 76.8em;
  width: 102.4em;
}

.site-on-device_desktop {
  height: 100%;
  width: 100%;
}

.site-on-device_desktop .iframe-wrapper {
  border: none;
  height: 100%;
  width: 100%;
}

/* /styles for devices */

@media (max-width: 1601px) and (min-width: 1281px) {
  .site-on-device_phone {
    transform: scale(0.9);
  }
  .site-on-device_tablet {
    transform: scale(1);
  }
}

@media (max-width: 1280px) and (min-width: 1025px) {
  .site-on-device_phone {
    transform: scale(0.8);
  }
  .site-on-device_tablet {
    font-size: 0.7rem;
  }
}

@media (max-width: 1024) {
  .site-on-device {
    font-size: 0.65rem;
  }
}
