.device-switcher {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 10%;
  height: 10%;
  justify-content: center;
  width: 35em;
  z-index: 2;
}

.device-switcher__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  flex: 0 0 auto;
  height: 6.5em;
  opacity: 0.4;
  transition: 0.5s;
  width: 10em;
}

.device-switcher__item_active {
  cursor: default;
  opacity: 1;
}

.device-switcher__item:hover {
  opacity: 1;
}

.device-switcher__item_phone {
  background-image: url(../../assets/img/phone-small.svg);
  width: 4em;
}

.device-switcher__item_tablet {
  background-image: url(../../assets/img/tablet-small.svg);
  width: 8.9em;
}

.device-switcher__item_desktop {
  background-image: url(../../assets/img/desktop-small.svg);
  width: 10.4em;
}

@media (max-width: 1024px) {
  .device-switcher {
    display: none;
  }
}
