.socialnets {
  display: flex;
  gap: 2em;
}

.net {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  height: 9em;
  opacity: 0.5;
  width: 9em;
}

.net:hover {
  opacity: 1;
}

.github {
  background-image: url(../../images/github_black_circle.svg);
}

.telegram {
  background-image: url(../../images/telegram_black_circle.svg);
}

.linkedin {
  background-image: url(../../images/linkedin_black_circle.svg);
}

.mail {
  background-image: url(../../images/email_black_circle.svg);
}
